html {
	min-height: 100%;
	position: relative;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	color: black;
	height: 100%;
	background-image: url(../img/hay_rack.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.page {
	margin: 0 auto;
	max-width: 100%;
	position: relative;
}

/* Text */

h1 {
	margin: 0 0 0.5em 0;
	font-size: 2.8em;
	font-weight: 700;
	font-family: 'Alegreya', serif;
}

/* Add for other h tags as and when required */

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
}

a:visited {
	color: #aa4400;
}

/* Header */

header {
	height: 60px;
	position: relative;
	background-color: inherit;
	background-color: rgba(0, 0, 0, 0.09);
}

header a.logo {
	position: absolute;
	display: block;
	width: 110px;
	height: 55px;
	top: 5px;
	left: 10px;
	background: url('../img/heading/logo.svg') no-repeat 0 0;
	background-size: contain;
}

header a.logo span {
	display: none;
}

/* hero */

section.hero {
	text-align: center;
	position: relative;
	margin: 20px auto;
	padding: 10px;
	border-left-width: 0;
	border-right-width: 0;
	color: white;
}

#top-level-info {
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	color: white;
}

#top-level-info p {
	margin: 0 0 1em 0;
}

#top-level-info p a {
	border: 1px solid white;
	padding: 4px 10px;
	color: white;
	transition: background-color .5s;
}

/* Take a look at this */
#top-level-info p a:hover {
	background-color: #bbb;
	background-color: rgba(0, 0, 0, 0.7);
}

/* Search */

section#search {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

#search input {
  min-width: 220px;
  display: block;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #444;
  border-top-width: 0;
}

#search input:focus {
	outline: none;
}

#search input:first-child {
	border-top-width: 1px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#search button {
  margin-top: 10px;
  min-width: 242px;
  padding: 10px;
  font-size: 16px;
  background-color: cyan;
  border-width: 0;
  box-shadow: 2px 0 5px #888888;
  border-radius: 2px;
}

/* Navigation */

nav {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.25em;
	width: 100%;
	height: 60px;
}

nav::after, nav ul::after {
	content: '';
	display: block;
	clear: both;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 125px;
	height: inherit;
}

nav ul li {
	float: right;
}

nav ul li a {
	display: inline-block;
	padding: 15px 20px;
}

/* Footer */

footer {
	font-size: 0.8em;
	color: #999;
	margin: 40px;
	text-align: center;
}

footer .content {
	display: inline;
}

footer a {
	text-decoration: none;
}

footer a:visited {
	color: #999;
}

footer a:hover {
	text-decoration: underline;
	color: #000;
}

footer .content a {
	margin-left: 20px;
}

/* Media queries */

@media screen and (max-width: 1000px) {
	
	/* Hero */

	h1 {
		font-size: 2.4em;
	}
}

@media screen and (max-width: 850px) {

	/* Header */

	header {
		height: 55px;
	}

	header a.logo {
		width: 100px;
		height: 55px;
		background: url('../img/heading/logo_100.svg') no-repeat 0 0;
	}

	/* Navigation */

	nav {
		font-size: 1em;
		height: 55px;
	}

	nav ul {
		padding: 0 0 0 115px;
	}

	nav ul li a {
		display: inline-block;
		padding: 15px 20px;
	}

	/* hero */

	h1 {
		margin: 0 0 0.4em 0;
		font-size: 2.2em;
	}

	section.hero {
		margin: 15px auto;
	}

	#top-level-info p {
		margin: 0 0 0.8em 0;
	}
}